/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* nav */



.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    background-color: rgba(33, 33, 33, 0.98);
    padding: 0 16px;

}

.hamburger {
    color: #fff;
}

.youtube-logo {
    display: inline-flex;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    margin-right: auto;
    flex: none;
    height: 40px;
    width: 97px;
    padding: 18px 14px 18px 16px;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 1 728px;
    min-width: 0px;
    font-size: 10px;
    font-family: 'Roboto', 'Noto', sans-serif;
    margin-right: auto;
}

.search-box {
    background-color: hsl(0deg, 0%, 7%);
    border: 1px solid hsl(0deg, 0%, 19%);
    color: rgba(255, 255, 255, 0.88);
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    line-height: 24px;
    margin-left: 4px;
    text-align: inherit;
    width: 100%;
    font-family: 'Roboto', 'Noto', sans-serif;
    padding: 0px 6px;
    flex: 1;
    flex-basis: 1e-9px;
}

.search-box:focus {
    border: 1px solid #3ea6ff;
    outline: none;
}


.search-icon {
    border: 1px solid rgb(48, 48, 48);
    background-color: rgba(255, 255, 255, 0.08);
    padding: 0px 6px;
    height: 40px;
    width: 64px;
    color: white;
    cursor: pointer;
}

.mic {
    box-sizing: border-box;
    border: rgba(0, 0, 0, 1);
    background-color: black;
    height: 100%;
    border-radius: 50%;
    color: white;
    padding: 10px;
    margin-left: 0.4em;
}

.nav-widgits {
    display: flex;
    align-items: center;
    gap: 2em;
    color: white;
}

.sign-in {
    display: flex;
    align-items: center;
    gap: 1em;
    color: #3ea6ff;
    padding: 8px 14px;
    border: 1px solid #3ea6ff;
    background-color: rgba(0, 0, 0, 0);
}