/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: rgb(24, 24, 24);
    font-family: 'Roboto', 'Noto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* *, *::before, *::after {
    outline: 1px solid red;
} */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/* nav */



.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    background-color: rgba(33, 33, 33, 0.98);
    padding: 0 16px;

}

.hamburger {
    color: #fff;
}

.youtube-logo {
    display: inline-flex;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    margin-right: auto;
    flex: none;
    height: 40px;
    width: 97px;
    padding: 18px 14px 18px 16px;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 1 728px;
    min-width: 0px;
    font-size: 10px;
    font-family: 'Roboto', 'Noto', sans-serif;
    margin-right: auto;
}

.search-box {
    background-color: hsl(0deg, 0%, 7%);
    border: 1px solid hsl(0deg, 0%, 19%);
    color: rgba(255, 255, 255, 0.88);
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    line-height: 24px;
    margin-left: 4px;
    text-align: inherit;
    width: 100%;
    font-family: 'Roboto', 'Noto', sans-serif;
    padding: 0px 6px;
    flex: 1;
    flex-basis: 1e-9px;
}

.search-box:focus {
    border: 1px solid #3ea6ff;
    outline: none;
}


.search-icon {
    border: 1px solid rgb(48, 48, 48);
    background-color: rgba(255, 255, 255, 0.08);
    padding: 0px 6px;
    height: 40px;
    width: 64px;
    color: white;
    cursor: pointer;
}

.mic {
    box-sizing: border-box;
    border: rgba(0, 0, 0, 1);
    background-color: black;
    height: 100%;
    border-radius: 50%;
    color: white;
    padding: 10px;
    margin-left: 0.4em;
}

.nav-widgits {
    display: flex;
    align-items: center;
    gap: 2em;
    color: white;
}

.sign-in {
    display: flex;
    align-items: center;
    gap: 1em;
    color: #3ea6ff;
    padding: 8px 14px;
    border: 1px solid #3ea6ff;
    background-color: rgba(0, 0, 0, 0);
}

/* MAIN-VIDEO */

.main-container {
    display: flex;
    flex-flow: row;
}

.video-container {
    /* outline: 1px solid red; */
    padding: 24px 24px 0 0;
    margin-left: 5em;
    margin-right: 0;
    width: 1280px;
    
}

.video-tags {
    display: inline-block;
    color: rgb(62, 166, 255);
    font-size: 12px;
    line-height: 15px;
    margin-top: 1em;
}

.video-title {
    color: #FFF;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.video-widgits {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.views {
    color: #AAA;
    font-size: 14px;
    margin-top: 0.8em;
}

.widgit-icon-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-left: auto;
}

.widgit-icon-container p {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 2em 0 0.4em;
}

.widgit-icon {
    color: rgb(143, 143, 143);
}

hr {
    margin-top: 1.2em;
    border-color: rgba(255, 255, 255, 0.1);
}

/* DESC */

.desc-container {
   display: block;
}

.desc-top-row {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.desc-top-row img {
    margin-top: 0em;
    border-radius: 50%;
}


.desc {
    display: flex;
    flex-flow: column;
    margin-left: 1em;
}

.desc p {
    font-weight: 500;
    line-height: 20px;
}

.channel-name {
    margin-top: 1em;
    color: #FFF;
    font-size: 14px;
}

.subs {
    color: #AAA;
    font-size: 12px;
    margin-bottom: 1em;
}

.subscribe {
    border-radius: 2px;
    border: none;
    background-color: #c00;
    color: #fff;
    padding: 10px 16px;
    min-width: 5.14rem;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-left: auto;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.user-desc-container {
    margin-left: 64px;
}

.user-desc {
    color: #FFF;
    font-size: 14px;
}

.user-desc a {
    color: #3ea6ff;
}

.expand {
    cursor: pointer;
}

/* comment section */

.comments-header {
    display: flex;
    flex-flow: row;
    align-items: center;
    color: #fff;
    margin-top: 1em;
}

.comment-total {
    margin-right: 1.4em;
}

.sort {
    margin-left: 0.6em;
    font-size: 14px;
}

.add-comment-container {
    display: flex;
    flex-flow: row;
    margin-top: 1.6em;
}

.add-comment-container img,
.comment-section img {
    aspect-ratio: auto 40/40;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.add-comment {
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 14px;
    margin-left: 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);;
    width: 100%;
}

.add-comment:focus-visible {
    outline: none;
    border-bottom: 1px solid #fff;
}
.comment-section {
    margin-top: 3em;
}

.comment-container,
.reply-container {
    display: flex;
    flex-flow: row;
    color: #FFF;
    margin-bottom: 2em;
}

.comment-info-container {
    display: flex;
    flex-flow: column;
    margin-left: 1em;

}

.comment-username {
    font-weight: 600;
    font-size: 13px;
}

.comment-timestamp {
    color: #AAA;
    font-size: 12px;
    margin-left: 0.4em;
}

.comment {
    font-size: 14px;
    margin-top: 0.6em;
}

.comment-widgit {
    display: flex;
    flex-flow: row;
    margin-top: 1em;
    align-items: center;
}

.comment-widgit span {
    font-size: 16px;
    margin-right: 0.6em;
}

.comment-widgit p {
    font-size: 12px;
    color: #AAA;
    margin-right: 1em;
}

.comment-reply {
    margin-left: 1em;
}


.view-replies {
    display: flex;
    flex-flow: row;
    align-items: center;
    color: #3ea6ff;
    font-size: 14px;
    font-weight: 600;
    margin: 0.8em 0 0 -6px;
}

/* comment reply */

.reply-container {
    margin-top: 1em;
    margin-bottom: 0;
}

.reply-container img {
    aspect-ratio: auto 24/24;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

/* Sidebar/reccomended videos */

aside {

    display: block;
    margin-top: 24px;
}

.reccomended-header {
    display: flex;
    flex-flow: row;
    font-size: 14px;
    align-items: center;
    color: #FFF;
    margin-bottom: 1em;
}

.reccomended-header p {
    border-radius: 16PX;
    margin: 8px;
    padding: 10px 12px;
    font-weight: 500;
    background-color: #FFFFFF33;
    min-width: 12px;
}

.selected {
    background-color: #FFF !important;
    color: #030303;
}

.reccomended-video-container {
    width: 402px;
    margin: 0.4em 0 0 8px;
}

.thumbnail-container {
    position: relative;
    text-align: center;
    color: white;
}

.thumbnail-timestamp {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    right: 0;
    font-size: 12px;
    font-weight: 500;
    height: 12px;
    margin: 6px;
    padding: 3px 4px
}

.reccomended-video {
    display: flex;
    flex-flow: row;
    color: #FFF;
}

.reccomended-video-info {
    margin-left: 0.6em;
}

.reccomended-video-title {
    margin: 0 0 5px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-decoration-thickness: auto;
    text-size-adjust: 100%;
    text-overflow: ellipsis;
    white-space: normal;
}

.reccomended-video-channel {
    color: #AAA;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    max-height: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: none;
    text-decoration-thickness: auto;
    text-size-adjust: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}
